{%extends 'base.html'%}
{%load static%}
{%block contents%}
   <section id="hero-banner">
             <div class="banner-inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                    <h2>An Analytical Survey for Improving Authentication
										levels in <b>Cloud Computing</b></h2>
                                    <p>Cloud Computing is an on-demand network. Cloud computing is an excellent favourable and quickly developing technology</p>
                                    <a class="btn btn-primary btn-lg" href="#">Start Now</a>
                            </div>
                        </div>
                    </div>
                </div>
    </section><!--/#main-slider-->
  <section id="features">
	 <div class="container">
	   <div class="section-header">
                <h2 class="section-title wow fadeInDown">Authentication is a very important</h2>
                <p class="wow fadeInDown">Authentication is important because it enables organizations to keep their networks secure by permitting only authenticated users (or processes) to access their protected resources, which may include computer systems, networks, databases, websites and other network-based applications or services.</p>
            </div>
	 <div class="row FeatLayout">
<div class="col-md-5 Featimg"> <img src="{%static 'images/features_img.png'%}" alt="feature" class="img-responsive center-block"></div>
<div class="col-md-7">
<h2>We Make your life easy</h2>
<p>Nowadays there are many schemes for authentication which are based on users physical and behavioural properties and some are based on users knowledge which includes textual and graphical passwords</p>
<ul class="listarrow">
<li><i class="fa fa-angle-double-right"></i>Textual Passwords</li>
<li><i class="fa fa-angle-double-right"></i>QR authenticator</li>
<li><i class="fa fa-angle-double-right"></i>Biometric Authenticator</li>
<li><i class="fa fa-angle-double-right"></i>Captcha Authenticator</li>
<li><i class="fa fa-angle-double-right"></i>Encryption Services</li>
<li><i class="fa fa-angle-double-right"></i>Web Secutity</li>
</ul>
</div>
</div>
	 </div>
	 </section>
{%endblock%}